.row{
    margin-left: 20px;
    margin-bottom: 20px;
}
::-webkit-scrollbar{
    display: none;
}
.movie-row{
    display: flex;
    margin-top: 30px;
    overflow-x: scroll;
}
.movie{
    width: 100%;
    height: 200px;
    margin-right: 20px;
    transition: 460ms;
}
.movie:hover{
    transform: scale(1.06);
}

.movie-poster{
    height: 350px;
}
